<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>GUCCI</string>
		<key>name</key>
		<string>Gucci</string>
		<key>company</key>
		<string>历峰集团</string>
		<key>producingArea</key>
		<string>意大利</string>
		<key>intro</key>
		<string>始人Guccio Gucci古琦欧·古琦于1923年创立Gucci。位于佛罗伦萨的Gucci集团是当今意大利最大时装集团，Gucci除时装外也经营皮包、皮鞋、手表、家饰品、宠物用品、丝巾、领带、皮带、香水等。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>MISSONI</string>
		<key>name</key>
		<string>Missoni</string>
		<key>company</key>
		<string>服饰</string>
		<key>producingArea</key>
		<string>意大利</string>
		<key>intro</key>
		<string>品牌线：1、米索尼(Missoni)，1958年       2、米索尼·尤莫(Missoni Uomo)，1985年 　　　　3、米索尼·运动装(Missoni Sports)，1985年   针织系列为世界顶级产品    </string>
	</dict>
	<dict>
		<key>image</key>
		<string>KENZO</string>
		<key>name</key>
		<string>KENZO</string>
		<key>company</key>
		<string>LVMH集团</string>
		<key>producingArea</key>
		<string>法国</string>
		<key>intro</key>
		<string>高田贤三这位日本籍的法国时装设计师用自己的名贤三命名的KENZO品牌，已经不仅仅是时装业的精品，在化妆品、香水领域一们是大名鼎鼎。 KENZO的时装不是那种标新立异的拔高，它有一点点传统，有许多热情的颜色，有活生生的图案，还有几分狂野。几乎每一款都能找到实际穿着的场合，但吸引力之强却使你绝不厌倦。 当高田贤三还是青年的时候，他远赴巴黎开始他的国际时装设计师生涯，他有备而来，已经在日本对服装有了深入的研究，虽然，他设计的服务对象从东方人转为西方人，但丝毫没有碍障，而从此，他开始了不以国界为设计范畴的国际性工作</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Aquascutum</string>
		<key>name</key>
		<string>Aquascutum </string>
		<key>company</key>
		<string>YGM贸易有限公司</string>
		<key>producingArea</key>
		<string>英国</string>
		<key>intro</key>
		<string>Aquascutum「雅格狮丹」于1851年在伦敦创立。YGM贸易于1998年成为Aquascutum大中华地区、星加坡及马来西亚的总代理、特许制造及经销商。品牌专走高档路线，顾客对象是企业家、专业人士及行政人员等。现时Aquascutum的专门店逾140间，遍布香港、澳门、台湾及中国各大小城市。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>LACOSTE</string>
		<key>name</key>
		<string>Lacoste</string>
		<key>company</key>
		<string>LACOSTE</string>
		<key>producingArea</key>
		<string>法国</string>
		<key>intro</key>
		<string>在国际市场众多的服装品牌中，将一第张嘴的鳄鱼绣在上衣左胸前的服装最引人注目，虽然其售价不菲，但相当抢手，它行销世界80个国家，每年销量约2500万套（件）。上个世纪30年代初期，法国网球名将RENE·LACOSTE以坚韧的毅力和高超的球艺，在一次国际锦标赛中击败当时称雄世界的美国选手，为法国第一次取得这个项目的桂冠。LACOSTE的杰出表现和成功 </string>
	</dict>
	<dict>
		<key>image</key>
		<string>GianfrancoFerré</string>
		<key>name</key>
		<string>Gianfranco Ferré</string>
		<key>company</key>
		<string>LVMH 集团</string>
		<key>producingArea</key>
		<string>意大利</string>
		<key>intro</key>
		<string>身为米兰‘3G’之一的Gianfranco Ferre，1944年出生于一个劳工家庭，高中毕业以后，便进入米兰的工艺技术学府攻读建筑系，同时取得学位。然而他对于时装领域的高度兴趣却是与日俱增，对Gianfranco Ferre来说，流行的服装和美丽的建筑本质上是应该是相同的，于是FERRE首先独自创立了珠宝与配件系列产品后，遂逐渐地向服装领域迈进</string>
	</dict>
	<dict>
		<key>image</key>
		<string>PAUL&amp;SHARK</string>
		<key>name</key>
		<string>PAUL&amp;SHARK</string>
		<key>company</key>
		<string>DAMA SpA公司</string>
		<key>producingArea</key>
		<string>意大利</string>
		<key>intro</key>
		<string>DAMA SpA公司创建于1921年，并于1957年被现在的所有者接管。1977年，公司推出了Paul&amp;Shark品牌，以鲜明的鲨鱼标识其男装，体现了自由、休闲和优雅的风格。 品牌世家：http://www.ppsj.com.cn     Paul&amp;Shark产品完全由意大利制造。公司的生产结构一体化，直接控制Paul&amp;Shark产品制造的每个环节。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>TommyHilfiger</string>
		<key>name</key>
		<string>Tommy Hilfiger</string>
		<key>company</key>
		<string></string>
		<key>producingArea</key>
		<string>美国</string>
		<key>intro</key>
		<string>TOMMY HILFIGER是美国时装界一统群雄的品牌，个性而不张扬，简单却不平凡，美国好莱屋每年从TOMMY HILFIGER公司团购至少400万美金的衣服作为演员拍电影时穿，可见TOMMY HILFIGER的地位如此非凡，TOMMY HILFIGER曾经一度打如欧洲皇室，是年轻贵族的酷爱品牌！简洁的TOMMY带来的却是无限的品位和内涵！</string>
	</dict>
	<dict>
		<key>image</key>
		<string>NinaRicci</string>
		<key>name</key>
		<string>Nina Ricci</string>
		<key>company</key>
		<string></string>
		<key>producingArea</key>
		<string>法国</string>
		<key>intro</key>
		<string>Nina Ricci莲娜丽姿1883年出生于意大利，1932年在法国巴黎和她的儿子Robert Ricci罗伯特·里奇一起创立莲娜丽姿时装公司，现在的莲娜丽姿已是法国最大的时装公司之一。经营高级女装、精品时装、男装系列、香水系列、保养彩妆用品、皮件等。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>NAUTICA</string>
		<key>name</key>
		<string>NAUTICA</string>
		<key>company</key>
		<string>NAUTICA</string>
		<key>producingArea</key>
		<string>美国</string>
		<key>intro</key>
		<string>NAUTICA，一个来自大洋彼岸的品牌，源自拉丁文 “Nauticus” 这个航海词汇。带着清新的海洋气息，乘着海风，NAUTICA扬帆驶来.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>S.T.DUPONT</string>
		<key>name</key>
		<string>S.T.DUPONT</string>
		<key>company</key>
		<string></string>
		<key>producingArea</key>
		<string>法国</string>
		<key>intro</key>
		<string>1642年法皇路易十三时代，Tissot家族将其上祖之名“都彭”冠于姓氏上。1872年二十五岁的Simon Tissot-Dupont于繁华的巴黎——奢侈时尚精品结集的大都会，建立其个人事业。Simon Tissot决定专注于制造皮具及手提袋，成就卓越，更是首位将传统的行李箱冠以“公文包”之名，深受当时绅士贵族的欢迎及使用</string>
	</dict>
	<dict>
		<key>image</key>
		<string>marlboro</string>
		<key>name</key>
		<string>marlboro</string>
		<key>company</key>
		<string></string>
		<key>producingArea</key>
		<string>美国</string>
		<key>intro</key>
		<string>菲利浦·莫里斯公司生产的万宝路香烟已连续14年成为全美香烟销售冠军。1954年以前，菲利浦·莫里斯公司仅是当时美国六家主要香烟公司中最小的一家。但它眼光独到，掌握了成功的契机，从而一跃成为全美第一香烟公司</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Gieves&amp;Hawkes</string>
		<key>name</key>
		<string>Gieves&amp;Hawkes</string>
		<key>company</key>
		<string></string>
		<key>producingArea</key>
		<string>英国</string>
		<key>intro</key>
		<string>Gieves＆Hawkes是由两个品牌于1974年合并而成的。Gieves成立于1785年，以裁制军装闻名；Hawkes成立于1771年，专制军帽。 品牌世家：http://www.ppsj.com.cn     二百多年来，G&amp;H的西服深得英国皇室推崇，伊丽莎白二世、爱丁堡公爵、威尔斯亲王更授予皇室徽章The Royal Warrants，任命G&amp;H的最高荣誉和褒奖</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Lagerfeld</string>
		<key>name</key>
		<string>Lagerfeld</string>
		<key>company</key>
		<string></string>
		<key>producingArea</key>
		<string>意大利</string>
		<key>intro</key>
		<string>著名国际服装大师KARL LAGERFELD卡尔拉格斐，是现任CHANEL夏奈尔的首席设计师，而以他个人名字命名的男士服饰LAGERFELD拉格斐尔一如以往，他的设计，每件都是水准十足，逐渐成为时装界的经典。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>VERRIMilano</string>
		<key>name</key>
		<string>VERRI Milano</string>
		<key>company</key>
		<string></string>
		<key>producingArea</key>
		<string>意大利</string>
		<key>intro</key>
		<string>VERRI Milano 品牌创立于1972年，Mr.Leonardo Brugognone在意大利米兰中心同名的街道创立了第一家VERRI Milano 男士时装店，在本土取得巨大成功后，VERRI Milano 于1978年踏出进军国际的步伐。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>AIGNER</string>
		<key>name</key>
		<string>AIGNER </string>
		<key>company</key>
		<string></string>
		<key>producingArea</key>
		<string>德国</string>
		<key>intro</key>
		<string>半个多世纪以来，提到德国品牌AIGNER，人们便会想起它象征幸运的&quot;马蹄铁&quot;标志，而且会将它与严谨尊贵的&quot;德国绅士&quot;形象联系在一起；可今天，这位时尚界的长者在浦江之滨高举&quot;年轻化&quot;的旗帜，携手《情人》再度焕发青春的光彩。以品牌缔造者Etienne Aigner命名的国际知名品牌AIGNER，将马蹄铁为标志，代表了品质、自由、优雅和崇尚品味的生活方式。AIGNER以皮具的用料和设计而著称，逐渐扩展至男、女时装，配饰，手表，眼镜，香水等。  传说祈求幸运最有效的秘方，就是在口袋里放一只马蹄。就这样，这个传说被一位来自匈牙利的安格尔（Aigner）先生吸收改变，他在马蹄的中间加一杠以表示幸运永不流失，恰巧，马蹄加一杠形似“A”字母，有着永远领先的象征意味，从此，这个意义双重的马蹄标志成为安格尔公司特有的标志。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Dunhill</string>
		<key>name</key>
		<string>Dunhill</string>
		<key>company</key>
		<string></string>
		<key>producingArea</key>
		<string>英国</string>
		<key>intro</key>
		<string>1893年：Alfred Dunhill继承了父亲的马具制作事业。为了满足市场上方兴未艾的汽车风潮，他推出了高级汽车配件系列--dunhill Motorities。 　　1903年：推出仪表板时钟，成为登喜路推出的第一款计时工具。  1904年：Alfred Dunhill在伦敦的尤斯顿路开设了第一店</string>
	</dict>
	<dict>
		<key>image</key>
		<string>GiorgioArmani</string>
		<key>name</key>
		<string>Giorgio Armani</string>
		<key>company</key>
		<string></string>
		<key>producingArea</key>
		<string>意大利</string>
		<key>intro</key>
		<string>ARMANI分为： Armani Prive（高级定制服）      Giorgio Armani（高级成衣）               Armani Collezioni（成衣）       Mani（女装成衣）               EA：Emporio Armani（成衣）      AJ：Armani Jeans（休闲服及牛仔服）               AX：Armani Exchange（休闲服）   Armani Junior（童装</string>
	</dict>
	<dict>
		<key>image</key>
		<string>A.Testoni</string>
		<key>name</key>
		<string>A.Testoni</string>
		<key>company</key>
		<string></string>
		<key>producingArea</key>
		<string>意大利</string>
		<key>intro</key>
		<string>这个有名的意大利皮鞋品牌始创于1929年，发源地就是博洛尼亚 (Bologna)，一个自十二世纪起便以优良皮革手艺闻名全意大利的城镇。品牌创办人是Amedeo Testoni先生，一名典型的意大利鞋匠。品牌名字就是他名字的缩写A. Testoni。他由小小的鞋店开始，去建立成今天的皮鞋王国。创立初期，以传统流传下来的皮革工艺，去制造男装皮鞋。A.Testoni代表了博洛尼亚的优良皮革手艺，也象征了意大利皮匠的专业和超凡品味。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Bally</string>
		<key>name</key>
		<string>Bally</string>
		<key>company</key>
		<string></string>
		<key>producingArea</key>
		<string>瑞士</string>
		<key>intro</key>
		<string>BALLY，是一个经营了百年的经典品牌，但在Carl Bally创始品牌的那一剎那，缘起的却是一个动人而美丽的故事。 1850年，因公出差的瑞士绅士Carl Bally某日在巴黎的流行大道上发现一家鞋店，橱窗内的美丽皮鞋深深地吸引住他的目光，流连忘返之余，决定买双鞋送给爱妻，却因为忘了尺寸，而将同一款式不同尺寸的皮鞋全部买下。这段Carl Bally与皮鞋的美丽邂逅，引发了他想要生产世界上最高级皮鞋的构想。隔一年，第一双Bally皮鞋正式诞生。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Burberry</string>
		<key>name</key>
		<string>Burberry</string>
		<key>company</key>
		<string></string>
		<key>producingArea</key>
		<string>英国</string>
		<key>intro</key>
		<string>Burberry由当时只有二十一岁的英伦小伙子Thomas Burberry一手创立，Burberry成为了一个最能代表英国的品牌。Burberry早期是发展户外服饰的，早于一八八零年，Thomas便发明了一种防水透气的布料, Gabardine,并于一八八八年取得专利为当时的英国军官设计及制造雨衣，英皇爱德华七世其后更下令以Burberry这款雨衣作为英军军服之一。而一九一一年，Burberry再凭藉为首位征服南极的旅行家Ronald Amunden提供旅行服饰而扬名于世。</string>
	</dict>
</array>
</plist>
